<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="<%= ourImage %>" width='200' border=1pt>
    <form id="form" action="/anthony" method="post">
    <label for="text"></label><br>
    <input type="text" name="text" placeholder="Type word in image">
    <input type="submit"></input>
    </form>
  </body>
</html>
